In [1]:
import pandas as pd

In [33]:
full_flat_type = "2 ROOM Premium Apartment"
postal_sector = "Tampines"

In [5]:
df_sector_CBD = pd.read_csv("../data/postal_sector_to_CBD.csv", sep = ";")
df_flat_sqm = pd.read_csv("../data/full_flat_type_mean_sqm.csv")

In [39]:
df_sector_CBD.sample(10)

    Postal Sector  dist_CBD
2      Queenstown        14
0   Raffles Place         5
15       Tampines        52
8          Novena        30
4   Pasir Panjang        12
21         Kranji        73
5     Golden Mile        19
20  Bukit Panjang        68
1   Tanjong Pagar         8
16       Hougang"        82

In [37]:
floor_area_sqm = df_flat_sqm.loc[df_flat_sqm["full_flat_type"] == full_flat_type]["mean_floor_area_sqm"]
print(floor_area_sqm)

4    51.783784
Name: mean_floor_area_sqm, dtype: float64

4    51.783784
Name: mean_floor_area_sqm, dtype: float64

In [40]:
dist_CBD = df_sector_CBD[df_sector_CBD["Postal Sector"] == postal_sector]["dist_CBD"]

In [41]:
print(dist_CBD)

15    52
Name: dist_CBD, dtype: int64